<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <id>artifactory-cs20ga-snapshots</id>
      <username>smachida</username>
      <password>Vmware1!</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>release</name>
          <url>https://cs20ga.vcloud2.local:443/artifactory/release</url>
        </repository>
        <repository>
          <snapshots />
          <id>snapshots</id>
          <name>snapshots</name>
          <url>https://cs20ga.vcloud2.local:443/artifactory/snapshots</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>release</name>
          <url>https://cs20ga.vcloud2.local:443/artifactory/release</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
          <id>snapshots</id>
          <name>release</name>
          <url>https://cs20ga.vcloud2.local:443/artifactory/release</url>
        </pluginRepository>
      </pluginRepositories>
      <id>artifactory</id>
    </profile>
  </profiles> 
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>
